body {
	margin: 0; /* Убираем отступы на странице */
	font: 0.9em/1.2 Arial, Helvetica, sans-serif;
	background: #e2ed9c; /* Цвет фона подвала */
}

header,section,footer,aside,nav,article {
	display: block; /* Блочный элемент */
}

/* Шапка */
/* -------------------------------------------------------------------------- */
header {
	background: #00B0D8 url(images/header-gradient.png) repeat-x;
	/* Градиент */
}

.header-bg {
	background: url(images/header-animal.png) repeat-x center bottom;
	/* Животные */
	height: 405px; /* Высота шапки */
	text-align: center; /* Выравнивание по центру */
}

.header-bg img {
	position: relative; /* Относительное позиционирование */
	top: 40px; /* Сдвигаем картинку вниз */
}

/* Основная часть */
/* -------------------------------------------------------------------------- */
section header {
	background: none; /* Убираем фон */
}

.content-gradient {
	background: #f9f2e3 url(images/content-gradient.png) repeat-x;
}

.content-bg {
	width: 760px; /* Ширина макета */
	margin: auto; /* Выравнивание по центру */
	background: url(images/content-bg.png) repeat-y; /* Фон с границами */
}

.content-white {
	background: #fff; /* Белый цвет фона */
	margin: 0 11px; /* Отступы по горизонтали */
	padding: 20px 40px 80px; /* Поля */
	text-align: justify; /* Выравнивание по ширине */
}

/* Подвал */
/* -------------------------------------------------------------------------- */
footer {
	background: url(images/grass.png) 50% 53px no-repeat;
	/* Фоновый рисунок травы */
	margin-top: -77px; /* Поднимаем вверх */
	overflow: auto; /* Отменяем схлопывающиеся отступы */
	position: relative; /* Относительное позиционирование */
}

.lion {
	position: absolute; /* Абсолютное позиционирование */
	left: 50%; /* По центру */
	margin-left: -347px; /* Сдвигаем влево */
	top: 3px; /* От верхнего края */
}

.footer-bg {
	background: #e2ed9c; /* Цвет фона подвала */
	margin-top: 80px; /* Сдвигаем вниз */
}

.copyright {
	width: 740px; /* Ширина макета без полей */
	padding: 0 10px 10px; /* Поля */
	margin: auto; /* Выравнивание по центру */
	color: #526118; /* Цвет текста */
}

.copyright p {
	margin: 0 0 5px 170px; /* Отступы текста */
}

/* Блок с предупреждением */
/* -------------------------------------------------------------------------- */
.warning {
	overflow: hidden; /* Отменяем обтекание */
	margin: 30px 0; /* Отступ сверху и снизу */
	background: url(images/head.png) no-repeat;
	min-height: 92px;
}

.warning h1,.warning p {
	margin: 0 0 0 70px; /* Отступы */
}

/* Блок со ссылками */
/* -------------------------------------------------------------------------- */
a {
	color: #1b75bc; /* Цвет ссылок */
}

a:hover {
	color: #d6562b; /* Цвет ссылок при наведении */
}

a img {
	border: none; /* Прячем границу вокруг изображений-ссылок */
}

section h1 {
	font-size: 1.5em; /* Размер текста */
	font-weight: normal; /* Нормальное начертание */
	margin-bottom: 0; /* Отступ снизу */
}

/* Двухколоночный макет */
/* -------------------------------------------------------------------------- */
aside {
	width: 200px; /* Ширина правой колонки */
	float: right; /* Обтекание */
}

article {
	margin-right: 240px; /* Отступ справа */
}

/* Текст */
/* -------------------------------------------------------------------------- */
article h2 {
	font-size: 1.2em;
	color: #666;
	margin: 1.3em 0 0;
}

article p {
	margin: 0.5em 0 1em;
}

figure {
	text-align: center; /* Выравнивание по центру */
}

figcaption {
	font: italic 1em Georgia, "Times New Roman", Times, serif;
	/* Параметры шрифта */
	display: block; /* Блочный элемент */
	margin: 0 0 1.5em; /* Отступы */
}

/* Меню */
/* -------------------------------------------------------------------------- */
ul.menu {
	list-style: none; /* Убираем маркеры */
	margin: 40px 0; /* Отступ сверху и снизу */
	padding: 0; /* Поля */
}

ul.menu li {
	padding: 5px; /* Поля */
	font-size: 0.8em; /* Размер шрифта */
	font-weight: bold; /* Жирное начертание */
}

ul.menu a,ul.menu span {
	padding: 5px; /* Поля */
}

ul.menu li span {
	padding-left: 25px; /* Поле слева */
	background: url(images/bullet.png) no-repeat 5px center; /* Маркер */
}

ul.menu li.current {
	background: #f9f2e2 url(images/menu-gradient.png) repeat-y;
	/* Градиент */
}

/* Блок с интересной информацией */
/* -------------------------------------------------------------------------- */
.interest {
	background: #f2efe6 url(images/shadow.png) no-repeat 0 100%;
	/* Параметры фона */
	padding: 10px; /* Поля */
	font-size: 0.9em; /* Размер шрифта */
}

.interest h3 {
	margin: 0 0 -10px; /* Отступы в заголовке */
}

/* -------------------------------------------------------------------------- */
.assumption,.dixotomia,.golden,.random,.iteration {
	height: 40px;
	text-indent: -5000px;
}

.assumption {
	background: url(images/assumption-title.png) no-repeat;
	width: 125px;
}

.dixotomia {
	background: url(images/dixotomia-title.png) no-repeat;
	width: 215px;
}

.golden {
	background: url(images/golden-title.png) no-repeat;
	width: 286px;
}

.random {
	background: url(images/random-title.png) no-repeat;
	width: 273px;
}

.iteration {
	background: url(images/simple-title.png) no-repeat;
	width: 311px;
}